@charset "utf-8";

/* common */
body {
    font-family:'Noto Sans KR R', 'Noto Sans KR M', 'Noto Sans KR B', 'Noto Sans', 'Noto Sans Bold', 'Baloo2 Bold', 'Montserrat M', 'Montserrat B', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    color:#222;
}
img { vertical-align:top; }
h2, h3 { margin:0; }
p { margin:5px; }

/* main img */
div.mainimg { 
    text-indent:-9999px; 
    background:#edeef7 url(images/mainimg.jpg) no-repeat 50% 0/contain;
    height:100vh;
}

.container { 
    width:100%;
    font-size:15px;
    overflow:hidden;
}
.container > p { 
    margin:30px;
    font-size:20px;
    font-weight:bold; 
}

/* 01 style overview */
.container .style_overview  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container h2 { 
    font-family:'Baloo2 Bold';
    color:#28527a;
    font-size:35px;
}
.container h2 {
    margin:90px 80px 0;
}
.container h3 { 
    margin-left:80px;
    font-family:'Montserrat B';
    font-size:20px;
}
.container .title { display:flex; }
.container .title_box2 { margin-left:350px; }
.container .title_box2 p:first-child {
    margin-top:80px;
}
.container .title_box2 .bold1 { font-size:25px; margin-bottom:20px; }
.container .bold1 span { 
    font-family:'Baloo2 Bold'; font-size:40px;
    color:#bbdae4; 
}
.container h4 { 
    font-family:'Montserrat B';
    margin:50px 0 0 790px;
    font-size:20px;
}
.container .s_keyword {
    display:flex;
    margin-left:550px;
}
.container .s_keyword div {
    width:150px; height:150px;
    border-radius:50%;
    border:5px solid #bbdae4;
    margin:30px;
}
.container .s_keyword div p { 
    text-align:center;
    font-weight:bold;
    margin:10px 0;
    vertical-align:middle;
}
.container .s_keyword div p:first-child { 
    color:#28527a;
    font-size:25px;
    text-transform:capitalize;
    margin-top:50px;
}


/* 02 color palette */
.container .title2 { display:flex; }
.container .color_palette  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container .color_palette .title_box5 {
    margin:90px 0 0 370px;
}
.container .hex { display:flex; margin-left:550px; }
.container .hex div { margin:0 30px; text-indent:-9999px; }
.container .hex .bbdae4 { 
    width:120px; height:120px;
    background-color:#bbdae4;
    border:1px solid #000;
}
.container .hex .eee { 
    width:120px; height:120px;
    background-color:#eee;
    border:1px solid #000;
}
.container .hex .nine { 
    width:120px; height:120px;
    background-color:#999;
    border:1px solid #000;
}
.container .hex .two { 
    width:120px; height:120px;
    background-color:#222;
    border:1px solid #000;
}

.container .hex_num { display:flex; margin-left:495px; }
.container .hex_num p { 
    width:150px; 
    text-align:center; 
    font-weight:bold; 
}
.container .hex_num p:first-child { margin:10px 0 0 65px; }
.container .hex_num p:nth-child(2) { margin:10px 0 0 35px;}
.container .hex_num p:nth-child(3) { margin:10px 0 0 35px; }
.container .hex_num p:nth-child(4) { margin:10px 0 0 30px; }


/* 03 typography font */
.container .typo_font  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container .typo_font > p {
    margin:40px 0 0 600px;
    font-size:20px; font-weight:bold;
}
.container .typo_font .bold2 { font-size:30px; font-weight:bold; }
.container .typo_font .bold3 { font-size:20px; }

.container .typo_font > p:first-of-type { margin-top:-95px; }

.container .typo_font .nokr { display:flex; margin:15px 0 0 590px; }
.container .typo_font .noto, 
.container .typo_font .mont { display:flex; margin:15px 0 0 600px; }

.container .typo_font div div { margin:0 20px; }

.container .typo_font .baloo { margin-left:600px; }

.container .typo_font .nokr p,
.container .typo_font .noto p,
.container .typo_font .mont p { margin:15px 0;}

/* Noto Sans KR typo */
.container .typo_font .nokr { font-family:'Noto Sans KR R'; }
.container .typo_font .nokr_r p:first-child { font-size:30px; font-family:'Noto Sans KR R'; }
.container .typo_font .nokr_m p:first-child { font-size:30px; font-family:'Noto Sans KR M'; }
.container .typo_font .nokr_b p:first-child { font-size:30px; font-family:'Noto Sans KR B'; }

.container .typo_font .nokr_r p:nth-child(2) { margin-left:15px; font-family:'Noto Sans KR R'; }
.container .typo_font .nokr_m p:nth-child(2) { margin-left:13px; font-family:'Noto Sans KR M'; }
.container .typo_font .nokr_b p:nth-child(2) { margin-left:25px; font-family:'Noto Sans KR B'; }

/* Noto Sans typo */
.container .typo_font .noto_r p:first-child { font-size:30px; font-family:'Noto Sans'; }
.container .typo_font .noto_b p:first-child { font-size:30px; font-family:'Noto Sans Bold'; }

.container .typo_font .noto_r p:nth-child(2) { margin-left:-10px; font-family:'Noto Sans'; }
.container .typo_font .noto_b p:nth-child(2) { margin-left:3px; font-family:'Noto Sans Bold'; }

/* Montserrat typo */
.container .typo_font .mont { font-family:'Montserrat M'; }
.container .typo_font .mont_m p:first-child { font-size:30px; font-family:'Montserrat M'; }
.container .typo_font .mont_b p:first-child { font-size:30px; font-family:'Montserrat B'; }

.container .typo_font .mont_m p:nth-child(2) { margin-left:-10px; font-family:'Montserrat M'; }
.container .typo_font .mont_b p:nth-child(2) { font-family:'Montserrat B'; }

/* Baloo2 typo */
.container .typo_font .baloo2_b { font-family:'Baloo2'; }
.container .typo_font .baloo2_b p:first-child { margin:17px 0 0 620px; font-size:30px; font-family:'Baloo2 Bold';}

.container .typo_font .baloo2_b p:nth-child(2) { margin:10px 0 0 620px; font-family:'Baloo2 Bold'; }


/* 04 publishing point */
.container .pub_point  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container .pub_point h4 { margin-left:790px; }
.container .pub_point > p {
    margin-left:590px;
}
.container .pub_point p:nth-of-type(1) { margin-top:-100px; }
.container .pub_point p:nth-of-type(2), 
.container .pub_point p:nth-of-type(4) { margin-top:20px;}
.container .pub_point p span { font-size:18px; font-weight:bold; }

.container .pub_point  .p_keyword { display:flex; margin-left:580px; }
.container .p_keyword div {
    width:150px; height:150px;
    border-radius:50%;
    border:5px solid #bbdae4;
    margin:30px;
}
.container .p_keyword div p { 
    text-align:center;
    font-weight:bold;
    margin:10px 0;
    vertical-align:middle;
}
.container .p_keyword div p:first-child { 
    color:#28527a;
    font-size:25px;
    text-transform:capitalize;
    margin-top:50px;
}

/* 05 mobile page */
.container .m_page {
    width:88%;
    height:2000px;
    margin:0 auto;
    border-bottom:1px solid #999;
    position:relative;    
}
.container .m_page .view { margin:20px 0 0 80px; }
.container .m_page .shop_m { 
    position:absolute;
    top:-10px; left:500px;
}
.container .m_page .shop_m img {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.container .m_page p { margin:10px 0 10px 800px; width:380px; }
.container .m_page .shop_btn { 
    font-size:15px; text-align:center;
    text-transform:capitalize;
    color:#fff;
    background-color:#28527a; 
    width:50px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
}
.container .m_page p:nth-of-type(4) { margin-top:40px; }

.container .m_page .shop_mpub {
    position:absolute;
    top:300px; left:800px;
}

.container .m_page .spon_m {
    position:absolute;
    bottom:200px; left:500px;
}
.container .m_page .spon_m img {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.container .m_page .spon_btn {
    font-size:15px; text-align:center;
    text-transform:capitalize;
    color:#fff;
    background-color:#28527a; 
    width:85px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
}
.container .spon_box { position:absolute; bottom:600px;  }
.container .m_page .spon_mpub { position:absolute; bottom:500px; margin-left:800px; }
.container .m_page .color_banner { position:absolute; bottom:400px; margin-left:800px; }


/* 06 web page */
.container .web_page {
    width:88%;
    height:1200px;
    margin:0 auto;
    border-bottom:none;
    position:relative;    
}
.container .web_page .view2 { font-size:14px; margin:20px 0 0 80px; width:250px; }

.container .web_page .shop_box { margin:80px 0 0 60px; }
.container .web_page .query { font-size:14px; margin:20px 0 0 80px; width:250px; }
.container .web_page p:nth-of-type(3) { margin:10px 0 0 80px; }
.container .web_page p:nth-of-type(4) { margin:10px 0 0 80px; }
.container .web_page p:nth-of-type(5) { margin:5px 0 0 80px; }
.container .web_page p:nth-of-type(6) { margin:20px 0 0 80px; }
.container .web_page .flex { margin:10px 0 0 80px; }

.container .web_page .shop_pc {
    position:absolute;
    top:100px; left:500px;
}
.container .web_page .shop_pc img {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.container .web_page .shop_btn_pc {
    font-size:15px; text-align:center;
    text-transform:capitalize;
    color:#fff;
    background-color:#28527a; 
    width:50px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
    margin-left:80px;
}
.container .shop_pub { margin:60px 0 0 180px; }

.container .web_page .fixed_pc { 
    position:absolute;
    bottom:200px; left:500px;
}
.container .web_page .fixed_pc img {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.container .web_page .fixed_box { margin:200px 0 0 60px; }
.container .web_page .fixed_btn {
    font-size:15px; text-align:center;
    text-transform:capitalize;
    color:#fff;
    background-color:#28527a; 
    width:50px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
    margin-left:80px;
}
.container .web_page .bg { margin:10px 0 0 80px; }
.container .web_page .fixed_pub { 
    position:absolute; 
    bottom:150px;
    left:130px;
}



/* button */
div.btn { 
    border-radius:20px; 
    width:300px; 
    background-color:#28527a;
    margin:80px auto;
}
.btn a { 
    display:block; 
    padding:20px; 
    color:#fff; 
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
}