@charset "utf-8";
/* 한글 */

/* 'Noto Sans KR R' */
@font-face {
    font-family:'Noto Sans KR R';
    src: url('fonts/Noto Sans KR Regular.woff2') format('worff2'), 
    url('fonts/Noto Sans KR Regular.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* 'Noto Sans KR M' */
@font-face {
    font-family:'Noto Sans KR M';
    src: url('fonts/Noto Sans KR Medium.woff2') format('worff2'), 
    url('fonts/Noto Sans KR Medium.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* 'Noto Sans KR B' */
@font-face {
    font-family:'Noto Sans KR B';
    src: url('fonts/Noto Sans KR Bold.woff2') format('worff2'), 
    url('fonts/Noto Sans KR Bold.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* 영문 */

/* 'Noto Sans' */
@font-face {
    font-family:'Noto Sans';
    src: url('fonts/Noto Sans.woff2') format('worff2'), 
    url('fonts/Noto Sans.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* 'Noto Sans Bold' */
@font-face {
    font-family:'Noto Sans Bold';
    src: url('fonts/Noto Sans Bold.woff2') format('worff2'), 
    url('fonts/Noto Sans Bold.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* Baloo2 Bold  */
@font-face {
    font-family:'Baloo2 Bold';
    src: url('fonts/Baloo2 Bold.woff2') format('worff2'), 
    url('fonts/Baloo2 Bold.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* Montserrat M */
@font-face {
    font-family:'Montserrat M';
    src: url('fonts/Montserrat Medium.woff2') format('worff2'), 
    url('fonts/Montserrat Medium.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

/* Montserrat B */
@font-face {
    font-family:'Montserrat B';
    src: url('fonts/Montserrat Bold.woff2') format('worff2'), 
    url('fonts/Montserrat Bold.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}