@charset "utf-8";

/* common */
body {
    font-family:'Noto Sans KR R', 'Noto Sans KR M', 'Noto Sans KR B', 'Noto Sans', 'Noto Sans Bold', 'Playball R', 'Kaushan Script R', 'Barlow Condensed B', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}
img { vertical-align:top; }
h2, h3 { margin:0; }
p { margin:5px; }

/* main img */
div.mainimg { 
    text-indent:-9999px; 
    background:#d12e2e url(images/mainimg.jpg) no-repeat 50% 0/contain;
    height:100vh;
}

.container { 
    width:100%;
    font-size:15px;
    overflow:hidden;
}

.container > p { 
    margin:30px;
    font-size:20px;
    font-weight:bold; 
}

/* 01 style overview */
.container .style_overview  {
    width:88%;
    margin:0 auto;
    padding-bottom:50px;
    border-bottom:1px solid #999;
}
.container h2 { 
    font-family:'Barlow Condensed B';
    color:#e9896a;
    font-size:40px;
}
.container h2 {
    margin:50px 80px 0;
}
.container h3 { 
    margin-left:80px;
    font-family:'Barlow Condensed B';
    font-size:30px;
}
.container .title { display:flex; }
.container .title_box2 { margin-left:370px; }
.container .title_box2 p:first-child { margin-top:50px; }
.container .title_box2 p:nth-child(4) { margin-top:20px; }
.container .title_box2 p:nth-child(4) span { font-weight:bold; }
.container .title_box2 .bold1 { font-size:25px; margin-bottom:20px; }
.container .bold1 span { 
    font-family:'Barlow Condensed B'; font-size:30px;
    color:#d12e2e; 
}
.container h4 { 
    font-family:'Barlow Condensed B';
    margin:50px 0 0 805px;
    font-size:25px;
}
.container .s_keyword {
    display:flex;
    margin-left:550px;
}
.container .s_keyword div {
    width:150px; height:150px;
    border-radius:50%;
    border:5px solid #e9896a;
    margin:30px;
}
.container .s_keyword div p { 
    text-align:center;
    font-weight:bold;
    margin:10px 0;
    vertical-align:middle;
}
.container .s_keyword div p:first-child { 
    color:#d12e2e;
    font-size:25px;
    text-transform:capitalize;
    margin-top:50px;
}


/* 02 color palette */
.container .title2 { display:flex; }
.container .color_palette  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container .color_palette .title_box5 {
    margin:90px 0 0 370px;
}
.container .hex { display:flex; margin-left:550px; }
.container .hex div { margin:0 30px; text-indent:-9999px; }
.container .hex .d12e2e { 
    width:120px; height:120px;
    background-color:#d12e2e;
    border:1px solid #000;
}
.container .hex .be21 { 
    width:120px; height:120px;
    background-color:#74be21;
    border:1px solid #000;
}
.container .hex .ae1316 { 
    width:120px; height:120px;
    background-color:#ae1316;
    border:1px solid #000;
}
.container .hex .zero { 
    width:120px; height:120px;
    background-color:#000;
    border:1px solid #000;
}

.container .hex_num { display:flex; margin-left:495px; }
.container .hex_num p { 
    width:150px; 
    text-align:center; 
    font-weight:bold; 
}
.container .hex_num p:first-child { margin:10px 0 0 70px; }
.container .hex_num p:nth-child(2) { margin:10px 0 0 27px;}
.container .hex_num p:nth-child(3) { margin:10px 0 0 23px; }
.container .hex_num p:nth-child(4) { margin:10px 0 0 28px; }


/* 03 typography font */
.container .typo_font  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container .typo_font > p {
    margin:40px 0 0 580px;
    font-size:20px; font-weight:bold;
}
.container .typo_font .bold2 { font-size:20px; font-weight:bold; }
.container .typo_font .bold3 { font-size:15px; }

.container .typo_font > p:first-of-type { margin-top:-95px; }

.container .typo_font .nokr { display:flex; margin:15px 0 0 580px; }
.container .typo_font .eng_font { display:flex; margin:15px 0 0 580px; }

.container .typo_font div div { margin:0 20px; }

.container .typo_font .nokr p,
.container .typo_font .eng_font p { margin:15px 0;}

/* Noto Sans KR typo */
.container .typo_font .nokr { font-family:'Noto Sans KR R'; }
.container .typo_font .nokr_r p:first-child { font-size:25px; font-family:'Noto Sans KR R'; font-weight:400; }
.container .typo_font .nokr_m p:first-child { font-size:25px; font-family:'Noto Sans KR M'; font-weight:500; }
.container .typo_font .nokr_b p:first-child { font-size:25px; font-family:'Noto Sans KR B'; font-weight:700; }

.container .typo_font .nokr_r p:nth-child(2) { margin-left:13px; font-family:'Noto Sans KR R'; font-weight:400; }
.container .typo_font .nokr_m p:nth-child(2) { margin-left:11px; font-family:'Noto Sans KR M'; font-weight:500; }
.container .typo_font .nokr_b p:nth-child(2) { margin-left:22px; font-family:'Noto Sans KR B'; font-weight:700; }

/* Barlow Condensed typo */
.container .typo_font .barlow_b p:first-child { font-size:30px; font-family:'Barlow Condensed B'; }
.container .typo_font .barlow_b p:nth-child(2) { margin-left:0; font-family:'Barlow Condensed B'; }

/* Playball typo */
.container .typo_font .playball p:first-child { font-size:30px; font-family:'Playball R'; }
.container .typo_font .playball p:nth-child(2) { margin-left:0; font-family:'Playball R'; }

/* Kaushan Script typo */
.container .typo_font .kaushan p:first-child { font-size:30px; font-family:'Kaushan Script R'; }
.container .typo_font .kaushan p:nth-child(2) { margin-left:0; font-family:'Kaushan Script R'; }



/* 04 publishing point */
.container .pub_point  {
    width:88%;
    margin:0 auto;
    padding-bottom:80px;
    border-bottom:1px solid #999;
}
.container .pub_point h4 { margin-left:780px; }
.container .pub_point > p {
    margin-left:570px;
}
.container .pub_point p:nth-of-type(1) { margin-top:-100px; }
.container .pub_point p:nth-of-type(2), 
.container .pub_point p:nth-of-type(4) { margin-top:20px;}
.container .pub_point p span { font-weight:bold; }

.container .pub_point  .p_keyword { display:flex; margin-left:550px; }
.container .p_keyword div {
    width:150px; height:150px;
    border-radius:50%;
    border:5px solid #e9896a;
    margin:30px;
}
.container .p_keyword div p { 
    text-align:center;
    font-weight:bold;
    margin:10px 0;
    vertical-align:middle;
}
.container .p_keyword div p:first-child { 
    color:#d12e2e;
    font-size:25px;
    text-transform:capitalize;
    margin-top:50px;
}

/* 05 GUIDE */
.container .m_page {
    width:88%;
    height:2000px;
    margin:0 auto;
    position:relative;
}
.container .m_page .viewbox { margin:30px 0 0 75px; }

/* Header 설명 */
.container .m_page .header { 
    position:absolute;
    top:20px; left:500px;
}
.container .m_page .header img {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.container .txt_box1 { margin:-100px 0 10px 800px; width:380px; }
.container .m_page .header_btn { 
    font-size:14px; text-align:center;
    text-transform:capitalize;
    color:#fff;
    background-color:#d12e2e; 
    width:60px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
}

.container .m_page .vide_pub {
    position:absolute;
    top:200px; left:800px;
}
.container .m_page .video_pub {
    position:absolute;
    top:260px; left:800px;
}

/* Line up */
.container .m_page .lineup {
    position:absolute;
    top:600px; left:500px;
}
.container .m_page .lineup img {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.container .txt_box2 { margin:500px 0 10px 800px; width:380px; }
.container .m_page .lineup_btn {
    font-size:15px; text-align:center;
    color:#fff;
    background-color:#d12e2e; 
    width:65px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
}
.container .m_page .txt_box2 p:nth-child(4) { margin-top:30px; }
.container .m_page .lineup_pub { position:absolute; bottom:650px; margin-left:800px; }


/* News 설명 */
.container .m_page .news {
    position:absolute;
    bottom:100px; left:500px;
}
.container .m_page .news img { 
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.container .m_page .txt_box3 { margin:720px 0 10px 800px; width:380px; }
.container .m_page .news_btn {
    font-size:15px; text-align:center;
    color:#fff;
    background-color:#d12e2e; 
    width:65px; padding:5px;
    border-radius:20px; 
    margin-bottom:20px;
}
.container .m_page .news_pub { position:absolute; bottom:100px; margin-left:800px; }


/* button */
div.btn { 
    border-radius:20px; 
    width:300px; 
    background-color:#d12e2e;
    margin:150px auto 100px auto;
}
.btn a { 
    display:block; 
    padding:20px; 
    color:#fff; 
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
}