@charset "utf-8";

/* common */
body {
    font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움', sans-serif;
    background-color:#ddd7cb;
}
ul { 
    list-style:none;
    margin:0; padding:0; 
}
img { display:block; }
a { 
    text-decoration:none;
    display:block;
    color:#000;
}
p { margin:10px 0; }
.container { width:100%; overflow:hidden; }

/* header */
.container > header { 
    display:flex;
    width:100%;
    position:fixed;
    z-index:99;
    background-color:#ddd7cb;
    padding:15px 0;
}
.container > header .logo img {
    margin:5px 50px;
    width:220px;
}
.container > header > .menu { display:flex; margin:20px 0; }
.container > header > .menu .bakery { margin-left:60%; }
.container > header .about { margin-left:100px; }
.container > header > .menu a {
    font-family:'Noto Serif R', serif;
    width:70px; margin:0 1.5vw;
    color:#003773;
}
.container > header > .menu a:hover { color:#966c3b; }
.container > header > .icon { 
    display:flex; 
    margin:0 15px; margin-left:30%; 
}
.container > header > .icon img { width:25px; margin:20px 10px; }

/* fixed title */
.container > .fixed_title {
    position:fixed; top:0; left:44vw;
    z-index:999;
    width:12%; height:100vh;
    margin:0 auto;
    text-align:center;
}
.container > .fixed_title > p {
    font-family:'Noto Serif SC', serif;
    font-size:100px;
    position:absolute;
    margin:0 25px;
}
.container > .fixed_title .r { top:50px; left:10%; }
.container > .fixed_title .c { top:100px; left:25%; }
.container > .fixed_title .h { top:150px; left:10%; }
.container > .fixed_title .m { top:225px; left:25%; }
.container > .fixed_title .t { top:300px; left:10%; }

.container > .fixed_title ul { position:absolute; top:80vh; left:23%; }
.container > .fixed_title ul a {
    width:80px; padding:10px;
    font-family:'Noto Serif KR', serif;
    font-weight:700; 
}
.container > .fixed_title ul a:hover { color:#966c3b; }

/* Main */
.container > .main_wrap {
    display:flex;
    justify-content:space-around;
}
.container > .main_wrap img { 
    width:630px;
    margin-top:100px;
 }
.container > .main_wrap div { position:relative; }
.container > .main_wrap h2 {
    font-family:'Noto Serif R', serif;
    font-size:40px;
    position:absolute; 
    bottom:170px; left:50px;
    color:#fff;
}
.container > .main_wrap .box1 {
    font-family:'Noto Sans KR', sans-serif;
    color:#fff;
    font-size:15px;
    position:absolute;
    bottom:150px; left:50px;
}
.container > .main_wrap .box2 {
    font-family:'Noto Sans KR', sans-serif;
    color:#fff;
    font-size:15px;
    position:absolute;
    bottom:125px; left:50px;
}
.container h3 { margin:7.14% 7%; font-size:30px; }

/* Best product */
.container > .product_wrap { display:flex; justify-content:space-around; }
.container > .product_wrap p { font-family:'Noto Serif KR', serif; font-weight:400; text-indent:15px; font-size:14px; }
.container .best_section1 { 
    width:630px; 
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around; 
}
.container .best_section1 div { margin:30px; }
.container .best_section1 img { width:250px; height:160px; }
.container .best_section1 div > a:hover { transition:0.5s; transform:scale(1.2); }
.container .best_section2 { 
    width:630px; 
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around; 
}
.container .best_section2 div > a:hover { 
    transition:0.5s; 
    transform:scale(1.2); 
}
.container > .product_wrap .best_title {
    font-family:'Noto Serif KR', serif;
    font-weight:700;
    font-size:25px;
    border-bottom:2px solid #999; 
    margin:30px 0 10px 0; 
    padding-bottom:20px; 
}
.container .best_section2 div { margin:30px; }
.container .best_section2 img { width:250px; height:160px; }

/* Season event */
.container >.event_wrap h3 { font-family:'Noto Serif KR', serif; margin:120px 0 0 0; font-size:30px; }
.container > .event_wrap { display:flex; justify-content:space-around; }
.container > .event_wrap img { 
    width:630px;
    margin-top:50px;
}
.container > .event_wrap h4 { margin:60px 0 40px 0; }
.container > .event_wrap h4 a { font-family:'Noto Serif KR', serif; font-weight:700; font-size:24px;  }
.container > .event_wrap span { float:right; font-size:17px; }

/* Store */
.container .store { background-color:#dfbda0; margin:60px 0 0 0; padding:60px 120px 20px; }
.container .intro { background-color:#dfbda0; margin:0; padding-left:120px; }
.container .intro1,
.container .intro2 { font-size:14px; margin-bottom:30px; }

.container > .store_wrap {
    width:100%; height:700px; 
    background-color:#dfbda0;
    display:flex; 
    justify-content:space-around; 
    padding-top:50px;
}
.container > .store_wrap .store { margin-top:40px; }
.container > .store_wrap h4 { font-size:27px; font-weight:bold; margin:50px 0 0 0; }
.container > .store_wrap span { font-weight:bold; }

/* footer */
footer { display:flex; }
footer img.master { width:70px; margin:60px 0 0 200px; }
footer .footer_wrap { margin:50px 20px; }
footer .footer_wrap p { margin:15px; }
footer .copy { font-family:'Noto Serif', serif; margin:180px 0 0 30%; }
